$p-font-normal: 'Poppins-400';
$p-font-medium: 'Poppins-500';
$r-font-normal: 'Roboto-400';
$r-font-medium: 'Roboto-500';
$g-font-medium: 'Gelasio-500';
$g-font-semi-bold: 'Gelasio-600';

$color-white: #fff;
$color-black: #000;
$color-black-pearl: #081F32;
$color-denim: #1B75BB;